.input {
    background: #fafafa!important;
    color: #6e5494!important;
    border-left: rgb(110, 84, 148) solid!important;
    padding: 5px!important;
    margin: 10px 2px 10px 2px!important;
}


.output {
    background: #fafafa!important;
    color: #333333!important;
    border-left: #333333 solid!important;
    padding: 5px!important;
    margin: 10px 2px 10px 2px!important;
}